* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(180deg, #0000ffd3, #ff0000b4);
    color: #ffffff;
}

.wrapper {
    padding: 20px 10px;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    height: 300px;
    width: 200px;
    backdrop-filter: blur(2px);
    background-color: #b5b5b597;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.top {
    height: 40%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    transition: all ease .4s;
}

.top:hover img {
    transform: scale(2.1);
}

.bottom {
    height: 40%;
    width: 90%;
}

span {
    height: 100%;
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 12px;
}
p{
    transition: all .2s ease-in-out;
    cursor: pointer;
}

p:hover{
    transform: scale(1.2);
}